<p>todos-edit works!</p>

todo:
<pre>{{todo | json}}</pre>

<form #todoForm="ngForm" [formGroup]="todoFormGroup">
  <!--  <input name="name" id="name" type="text" [(ngModel)]="todo.name">-->

  <div class="form-group">
    <label for="id">ID</label>
    <input type="email" class="form-control" id="id" formControlName="name" disabled>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="I want to..." formControlName="name"
           (blur)="updateText()">
  </div>

  <div class="row">
    <div class="col-sm-12">
      debug<br>
      <pre>{{todoFormGroup.value | json}}</pre>
    </div>
  </div>

</form>
