<form [formGroup]="todoForm">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="text" class="form-control" id="id" formControlName="id" disabled>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="I want to..." formControlName="name">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="completed" formControlName="completed">
    <label class="form-check-label" for="completed">Completed</label>
  </div>

  <button type="submit" class="btn btn-primary" (click)="saveTodo()">Save</button>

  <div class="row">
    <div class="col-sm-12">
      <h2>Debug output</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      bound todo value<br>
      <pre>{{todo | json}}</pre>
    </div>
    <div class="col-sm-6">
      form values<br>
      <pre>{{todoForm.value | json}}</pre>
    </div>
  </div>

</form>
